@model SmsUserClaim
@using System.Security.Claims;
@using System.Reflection;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layuiAdmin 网站用户 iframe 框</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/LayUI/layuiAdmin/layuiadmin/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding: 20px 40px 0 0;">
        <div class="layui-form-item">
            <label class="layui-form-label">声明类型</label>
            <div class="layui-input-inline">
                <input asp-for="ClaimType" lay-verify="required" lay-reqText="请输入声明类型" placeholder="请输入声明类型" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">声明值</label>
            <div class="layui-input-inline">
                <input asp-for="ClaimValue" lay-verify="required" lay-reqText="请输入声明值" placeholder="请输入声明值" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-hide">
            <input type="button" lay-submit lay-filter="LAY-user-front-submit" id="LAY-user-front-submit" value="确认">
        </div>
    </div>

    <script src="~/LayUI/layuiAdmin/layuiadmin/layui/layui.js"></script>
    <script>
        layui.config({
            base: '/LayUI/layuiAdmin/layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'form', 'upload'], function () {
            var $ = layui.$
                , form = layui.form
                , upload = layui.upload;

        })
    </script>
</body>
</html>