
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDenied</title>
</head>
<body>
    拒绝访问

    @(new Microsoft.AspNetCore.Http.PathString("/Admin/Account/AccessDenied"))
</body>
</html>
