@model SmsSysMenuModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>表单组合</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/LayUI/layuiAdmin/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <link href="~/LayUI/layuiAdmin/layuiadmin/style/admin.css" rel="stylesheet" />
</head>
<body onload="">

    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-header">商品分类添加</div>
            <div class="layui-card-body" style="padding: 15px;">
                <form class="layui-form" action="" lay-filter="component-form-group">

                    <div class="layui-form-item">
                        <label class="layui-form-label">分类名称</label>
                        <div class="layui-input-block">
                            <input asp-for="MenuName" lay-verify="required" autocomplete="off" placeholder="请输入标题" class="layui-input" />
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">链接URL</label>
                        <div class="layui-input-block">
                            <input asp-for="LinkUrl" lay-verify="required" autocomplete="off" placeholder="请输入标题" class="layui-input" />
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">左侧显示</label>
                        <div class="layui-input-block">
                            <input asp-for="IsShowLeft" checked="checked" lay-skin="switch">
                        </div>
                    </div>

                    <div class="layui-form-item layui-layout-admin">
                        <div class="layui-input-block">
                            <div class="layui-footer" style="left: 0;">
                                <input type="hidden" asp-for="ParentId" value="0" />
                                <button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">立即提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/LayUI/layuiAdmin/layuiadmin/layui/layui.js"></script>
    <script>
        layui.config({
            base: '/LayUI/layuiAdmin/layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'form', 'laydate'], function () {
            //var $ = layui.$
            var  admin = layui.admin
                , element = layui.element
                , layer = layui.layer
                , laydate = layui.laydate
                , form = layui.form;


            //AJAX异步刷新，请求Index
            //Appent到SELECT OPTION
            //FUNCTION

            form.render(null, 'component-form-group');

            laydate.render({
                elem: '#LAY-component-form-group-date'
            });


            /* 监听提交 */
            form.on('submit(component-form-demo1)', function (data) {

                $.ajax({
                    url: "@Url.Action("CreateNode")",
                    type: "post",
                    dataType: "json",
                    data: $("form").serialize(),
                    success: function () {
                        layer.msg('添加菜单成功', {
                            icon: 1,
                            time: 2000 //2秒关闭（如果不配置，默认是3秒）
                        }, function () {
                            $("form")[0].reset();
                        });
                    }
                })

                return false;
            });
        });
    </script>
</body>
</html>
